<!DOCTYPE html>
<html>
    <head>
        <style>
            #calculator-div {
                background-color: be;
                border-style: groove;
                margin: 1em;
                padding: 1em;
                width: fit-content;
                align-self: center;
                border-radius: 5px;
            }
            #calculator-form > * {
                padding: 0.5em;
            }
            * {
                font-family: Helvetica, sans-serif;
            }
        </style>
        <title>Currency Conversion Calculator</title>
    </head>
    <body>
        <h1>Currency Conversion Calculator</h1>
        <div id="calculator-div">
            <form method="post" action="" id="calculator-form">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit"></input>
            </form>
            {% if target_amount != None %}
                <p id="target-amount">Target Amount: {{ target_amount }} {{target_currency}}</p>
            {% endif %}
        </div>
    </body>
</html>